TO_EMAIL="youremail@gmail.com"
FROM_EMAIL="youremail@gmail.com"
SMTP_SERVER="your smtp server"
SMTP_PORT="your smtp port"
SMTP_USERNAME="your username"
SMTP_PASSWORD="your password"
SUBJECT="your subjet"
PASSWORD="PASSWORD"
SERVER="username@ipaddress"
THRESHOLD="number"
SRC_DIR="path/to/folder"
DEST_SRC="path/to/folder"
ZIP_DIR="path/to/folder"
IMAGE_NAME="name of image"