# Compiled object files
*.o
*.out
*.exe

# Libraries
*.a
*.so

# Build directories
build/
bin/
Debug/
Release/
x64/

# IDE files
.vscode/
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf

# Text editor swap files
*~

# Miscellaneous
Thumbs.db
.DS_Store
